@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.products{
  width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.card_product{
    width: 260px;
    height: 500px;
    background-color: rgb(238, 238, 238);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s;
    margin: 20px 5px;
}
.card_product:hover{
    box-shadow: 2px 2px 10px 5px rgb(0, 0, 0 , 0.2);
    transform: scale(1.01);
}
.card_top{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_image{
    width: 100%;
    height: 100%;
}
.card_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card_bottom{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 5px;
}
.card_title{
    font-size: 20px;
    font-weight: 600;
    
}
.card_desc{
    font-size: 14px;
    color: rgb(99, 99, 99);
}
.card_price{
    margin-top: 10px;
    font-size: 20px;
}

.like img {
    position: relative;
    left: 105px;
    z-index: 1;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}


.like img:active {
    transform: scale(1.3); 
}